<style>
/*Font: Times New Roman for everything*/
.headercolor{height: 150px; background-color: white;}
.aboutme{height: 190px; width: 800px; background-color: white;}
.Project{height: 700px; width: 800px; background-color: white;}
body{background-color: #DCDCDC;}
</style>
