h1{text-align: center;}
.hello{color: midnightblue;}/*Header colors*/
.ello{color: royalblue;}
.llo{color: slateblue;}
.lo{color: deepskyblue;}
.bcolor1{background-color: gray;}
.bcolor2{background-color: lightpink;}
.bcolor3{background-color: #FAEBD7;}
.sblue{color: purple;}/*Welcome line*/
.o{color: powderblue;}
.lpurple{color: plum;}/*Colors*/
.salmon{color: salmon;}
.lpink{color: lightpink;}
.lightcoral{color: lightcoral;}
.vred{color: palevioletred;}
.red{color: red;}
.pink{color: pink;}
a{color: plum;
text-decoration: none;/*Text-decoration: none; get rid of the underlines*/
}
a:hover{color: purple;}/*When mouse move to link turn purple*/
.p1{text-indent: 2em;/*About me paragraph*/
text-align: center;}